<!DOCTYPE html>
<html lang="en" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Home</title>
</head>
<body>
<section class="banner d-flex justify-content-center align-items-center">
     <div class="text-center">
         <h2 class="font-weight-bold"> Smart Content Manager </h2>
         <p> Start Storing Your Contact in Smart Way. We Provide The Best Service to Keep Your Contacts Safe.</p>

         <form action="signup">
             <button class="btn btn-outline-success btn-lg" type="submit">Get Started</button>
         </form>
     </div>
</section>
</body>
</html>